<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="wec-cpdaily-media"/>
	<dubbo:registry address="${dubbo.registry.address}"/>
	<dubbo:annotation package="com.wisedu.wec.media" />

	<dubbo:provider timeout="${dubbo.provider.timeout}"/>
	<dubbo:monitor protocol="registry" />
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}"/>

	<dubbo:consumer check="false" init="false" timeout="${dubbo.consumer.timeout}" retries="0"/>

</beans>